#graph-container
  {
	width: 75%;
	margin: 0px auto;
  }
  
#graph-container tr .chart-bar 
  {
	transition: color 0.25s ease-out;
	color: rgba(0,0,0,0);
	width: 100%;
  padding: 0 .3em;
  }
  
#graph-container tr:hover .chart-bar 
  {
	color: white;//rgba(0,0,0,1);
  }
   
#graph-container tr 
  {
	transition: background-color 0.25s ease-out;
  }
  
#graph-container tr:hover 
  {
	background-color: lightgrey;
  }
  
.chart-bar-div-left
  {
  transition: width 1s ease-out;
  width: 0; 
  height: 100%; 
  background-color:#FF4242;
  float: right;
  }
  
.chart-bar-div-right
  {
  transition: width 1s ease-out;
  width: 0; 
  height: 100%; 
  background-color:#80CD80; 
  text-align: right;
  }