footer
  {
  font-size: .65em;
  text-align: center;
  margin-top: 3em;
  padding-top: 2em;
  } 
  
.common-form
  {
  max-width: 425px;
  margin: 0 auto;
  }

.hoverable li, .hoverable tr
  {
  transition: background-color .25s ease;
  }
.hoverable li:hover, .hoverable tr:hover
  {
  background-color: lightgrey;
  }

.w3-input:required:valid
  {
  border-left: 1em solid #80CD80;
  }
.w3-input:required:not(:valid)
  {
  border-left: 1em solid #FF4242;
  }
.w3-checkbox input[type=checkbox]:checked + .w3-checkmark:before
  {
  background: gray important!;
  }
  
.w3-bottom {position:fixed;bottom:0;z-index:1;width:100%;}

.w3-select {background-color: white;}

#logo a
{
  text-decoration: none;
}
#logo img
{
  width: 64px;
  height: 64px;
}
#logo sub
{
  font-size: .25em
}

#joining-code-text
{      
  font-family: Courier;
  width: 0px;
  border: 0px;
  transition: width .5s ease-out;
  margin-left: 5px;
  vertical-align: middle;
}

.w3-modal-content {max-width: 450px !important;}
.payback-row {font-style: italic;}